
spring:
  datasource:
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_ID}
            client-secret: ${GITHUB_SECRET}

          google:
            client-id: ${GOOGLE_ID}
            client-secret: ${GOOGLE_SECRET}

          gitlab:
            client-id: ${GITLAB_ID}
            client-secret: ${GITLAB_SECRET}

  mail:
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
